{
  "presets": [["@babel/env", { "targets": { "node": "current" } }], "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts"],
        "root": ["."],
        "alias": {
          "@common": "./src/common",
          "@controller": "./src/controller",
          "@entity": "./src/entity",
          "@service": "./src/service",
          "@repository": "./src/repository",
          "@infrastructure": "./src/infrastructure"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-destructuring",
    "babel-plugin-transform-typescript-metadata"
  ],
  "comments": false,
  "ignore": ["./src/__tests__"]
}
